{{!-- All Articles --}}
<div id="articles" class="mx-auto my-4">
  <!-- Default dropend button -->
  <div>
    <button type="button" class="btn btn-light"> <a class="col-auto mx-2 text-decoration-none text-dark link-primary"
        href="/news"> All Articles</a></button>
    <div class="btn-group dropend">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        <li>
          <a class="dropdown-item" href="/news/categories/latest">Latest News</a>
        </li>
        <li>
          <a class="dropdown-item" href="/news/categories/ironhack">Ironhack News</a>
        </li>
        <li>
          <a class="dropdown-item" href="/news/categories/might-like">You Might Also Like</a>
        </li>
        <li>
          <a class="dropdown-item" href="/news/categories/back">Backend News</a>
        </li>
        <li>
          <a class="dropdown-item" href="/news/categories/front">Frontend News</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <br>
   <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
     <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">ChatGPT: What's with All the Noise?</h1>
      <p class="lead my-3">How was Chat GPT configured? What is it already able to do? How will it change the way we work? Here’s a portrait of an AI like no other.</p>
      <p class="lead mb-0"><a href="news/63e533f64a34c3587b4c3f95" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>All Articles</h3>
      <small class="text-secondary text-opacity-50 fs-5">List of all articles.</small>
    </div>
  </div>
  <hr>
  {{!--Getting All Articles --}}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each news}}
    <div class=" col">
      <img src="{{this.image}}" alt="image article" class="img-fluid mb-3">
      <div class="card-body">
        <h4>{{this.title}}</h4>
        <h6><i>{{this.category}}</i></h6>
        <a href="/news/{{this._id}}" class="btn btn-primary">Read the article</a>
      </div>
      <br>
      <div class="card-text">
        {{#if ../isAdmin}}
        <a class="btn btn-info" href="/news/{{this._id}}/edit">
          Edit
        </a>
        <form style=" display:inline" action="/news/{{this._id}}/delete" method="POST">
          <button class="btn btn-warning">Delete</button>
        </form>
        {{/if}}
      </div>
      <br>
      <br>
    </div>
    {{/each}}
  </div>
</div>