<h1>>>>Here is the list of all News</h1>


<div>
<a href="/news/categories/latest">Latest News</a><span> | </span>
<a href="/news/categories/world">Word News</a><span> | </span>
<a href="/news/categories/might-like">You might also like</a><span> | </span>
<a href="/news/categories/back">Back End News</a><span> | </span>
<a href="/news/categories/front">Front End News</a><span>
</div>
<br>
<div>
<a href="/news/create">Create new article</a>| </span>
<a href="/news">All articles</a>
</div>

<div style="display: flex; flex-wrap:wrap">
 
  {{#each news}}
  <div style="width: 300px;
  border: 15px solid lightblue;
  padding: 50px;
  margin: 20px; text-align:center; ">
 <h1>{{this.title}}</h1>
 <h2>{{this.category}}</h2>
    
    <img src="{{this.image}}" alt="image article" width="180" height="150" />
    <br>
    <br>
       
    <a href="/news/{{this._id}}">Read the article</a>
    <br>
<br>
<br>
{{!--      {{#if userInSession.isAdmin}} --}}
    <a href="/news/{{this._id}}/edit">
      <button>Edit</button>
    </a>
     
        <form action="/news/{{this._id}}/delete" method="POST">
  
      <button>Delete</button> 

    </form>
{{!--       {{/if}} --}}
  </div>
  {{/each}}



  