<div>
  <button type="button" class="btn btn-light"> <a class="col-auto mx-2 text-decoration-none text-dark link-primary"
      href="/news"> All Articles</a></button>
  <div class="btn-group dropend">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu">
      <!-- Dropdown menu links -->
      <li>
        <a class="dropdown-item" href="/news/categories/latest">Latest News</a>
      </li>
      <li>
        <a class="dropdown-item" href="/news/categories/ironhack">Ironhack News</a>
      </li>
      <li>
        <a class="dropdown-item" href="/news/categories/might-like">You Might Also Like</a>
      </li>
      <li>
        <a class="dropdown-item" href="/news/categories/back">Backend News</a>
      </li>
      <li>
        <a class="dropdown-item" href="/news/categories/front">Frontend News</a>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="card mb-3">
  <img class="card-img-top" src="{{result.image}}" alt="image article" style="max-height: 300px;">
  <div class="card-body">
    <h5 class="card-title">{{result.title}}</h5>
    <h6 class="card-title">{{result.category}}</h6>
    <p class="card-text"><small class="text-muted">Created by {{result.owner.email}}</small></p>
    <br>
    <pre class="card-text">{{result.content}}</pre>
  </div>
</div>

{{!-- COMMENTS AREA --}}
<form action="/comments/create/{{result._id}}" method="post">
  {{!-- <input type="hidden" value="{{review._id}}" name="reviewId"> --}}
  <fieldset>
    <!-- DESCRIPTION -->
    <div>
      <div>
        <label for="">
          <h6>Comments</h6>
        </label>
      </div>
      <textarea cols="80" rows="3" name="commentContent">{{this.commentContent}}</textarea>
    </div>
  </fieldset>
  <br>
  <!-- BUTTON -->
  <div>
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>
<div>
  <br>
  <br>
  <div>
    {{#each comments}}
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">{{userId.email}}</h5>
        <p class="card-text">{{this.commentContent}}</p>
        {{#if this.commentSelf}}
        <form action="/comments/{{_id}}/delete" method="POST">
          <button type="button" class="btn btn-outline-info">Delete</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  <br>
  {{/each}}

  {{!-- {{#if ../isAdmin }}
  <form action="/comments/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  {{/if}} --}}